{% load widget_tweaks %}
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="row">
            {% if field.errors %}{{ field.errors }}{% endif %}
            {% if field|widget_type == 'checkboxinput' %}
                <div class="col s12">
                    <label>
                        {% render_field field %}
                        <span>{{ field.label }}</span>
                    </label>
                    {% if field.help_text %}<p class="grey-text">{{ field.help_text }}</p>{% endif %}
                </div>
            {% elif field|widget_type == 'clearablefileinput' %}
                <div class="col s12">
                    <p class="grey-text">{{ field.label }}</p>
                    {% render_field field %}
                </div>
            {% else %}
                <div class="input-field col s12">
                    {% render_field field class+="validate" %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.help_text %}<span class="helper-text">{{ field.help_text }}</span>{% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="row">
        <button class="btn waves-effect waves-light right teal darken-2" type="submit">
            Guardar <i class="material-icons right">send</i>
        </button>
    </div>
</form>
